@model Lab1.Domain.Concert

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-4">Edit Concert</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ConcertName" class="control-label">Concert Name</label>
                    <input asp-for="ConcertName" class="form-control" />
                    <span asp-validation-for="ConcertName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConcertDate" class="control-label">Concert Date</label>
                    <input asp-for="ConcertDate" class="form-control" />
                    <span asp-validation-for="ConcertDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConcertPrice" class="control-label">Concert Price</label>
                    <input asp-for="ConcertPrice" class="form-control" />
                    <span asp-validation-for="ConcertPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConcertPlace" class="control-label">Concert Place</label>
                    <input asp-for="ConcertPlace" class="form-control" />
                    <span asp-validation-for="ConcertPlace" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
