@model Lab1.Domain.Ticket
@using System.Security.Claims

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="text-center mb-4">Edit Ticket</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Ticket Information</h4>
                    <hr />
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NumberOfPeople" class="control-label">Number of People</label>
                            <input asp-for="NumberOfPeople" class="form-control" />
                            <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConcertId" class="control-label">Concert</label>
                            <select asp-for="ConcertId" class="form-control" asp-items="ViewBag.ConcertId"></select>
                            <span asp-validation-for="ConcertId" class="text-danger"></span>
                        </div>
 
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                        

                    </form>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
